* {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

body {
    background-color: rgb(157, 240, 229);
}

div {
    border: solid skyblue 5px;
    text-align: center;
    background-image: url(images/sky.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.navbar li {
    display: inline;
    align-items: center;
    width: 80%;
    font-weight: bolder;
    font-size: larger;
}

.picture-text {
    border: none;
    background-image: none;
    width: 200px;
}

.recent-pics {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recent-pics img , .hobbies img{
    height: 250px;
    width: 40%;
    gap: 20px;
    border: solid beige;
    border-radius: 10%;

}

.recent-pics h3 {
    float: right;
}

.pics-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
}

.pics-gallery img {
    height: 200px;
    width: 200px;
    border: solid beige;
    border-radius: 10%;
}

h1{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

h2 {
    color: blue;
    text-align: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;
}

h3 {
    color: blue;
    text-align: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}

footer {
    text-align: center;
}

/*ALL MOBILE SIZE CODE BELOW*/
/*ALL MOBILE SIZE CODE BELOW*/
/*ALL MOBILE SIZE CODE BELOW*/


@media (max-width: 600px) {
    
    .recent-pics {
        display: flex;
        flex-direction: column;
    }

    .recent-pics img, .hobbies img {
        height: 200px;
        width: 250px;
        align-items: center;
    }

    .pics-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pics-gallery img {
        width: 60%;
    }

    h1{
        font-size: 20pt;
    }
    
    h2 {
        font-size: 15pt;
    }

    h3 {
        font-size: 15pt;
    }

}